.App {
  text-align: center;
  border: 1px solid red;
  display:flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.App .post {
	width: 20%;
	min-height: 10vh;
	border: 1px solid rgb(114, 111, 111);
	border-radius: 15px;
	background-color: rgb(247, 247, 247);
	padding: 10px;
	margin-top: 10px;

}
.App .post:hover {
	-webkit-box-shadow: 5px -3px 5px 1px rgba(0,0,0,0.16); 
     box-shadow: 5px -3px 5px 1px rgba(0,0,0,0.16);
	 transition: all 60ms ease-in 2ms;

}
.App  .post .title {
	background-color: rgb(56, 56, 56);
	color: rgb(255, 208, 0);
	padding: 20px 0;

	width: 100%;
	margin: 10px 0;
}

